@using Radzen
@using Radzen.Blazor
@inherits LayoutComponentBase

@inject CookieThemeService CookieThemeService

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<RadzenLayout Style="grid-template-areas: 'rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Control Panel" />
            <RadzenAppearanceToggle Variant="Variant.Text" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu Multiple="true">
            <RadzenPanelMenuItem Text="Strategies" Icon="robot_2" Path="strategies"/>
            <RadzenPanelMenuItem Text="Accounts" Icon="person" Path="accounts"/>
            <RadzenPanelMenuItem Text="IBKR" Expanded="false">
                <RadzenPanelMenuItem Text="IBKR contract lookup" Icon="query_stats" Path="ibkr/search"/>
                <RadzenPanelMenuItem Text="IBKR subscriptions" Icon="subscriptions" Path="ibkr/subscriptions"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Binance" Expanded="false">
                <RadzenPanelMenuItem Text="USDM Futures subscriptions" Icon="subscriptions" Path="binance/usdm/subscriptions"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Static data" Icon="database" Expanded="false">
                <RadzenPanelMenuItem Text="Assets" Icon="inventory_2" Path="static-data/assets"/>
                <RadzenPanelMenuItem Text="Commissions" Icon="toll" Path="static-data/commissions"/>
                <RadzenPanelMenuItem Text="Contracts" Icon="contract" Path="static-data/contracts"/>
                <RadzenPanelMenuItem Text="Exchanges" Icon="account_balance" Path="static-data/exchanges"/>
                <RadzenPanelMenuItem Text="Streams" Icon="cast_connected" Path="static-data/streams"/>
                <RadzenPanelMenuItem Text="Brokers" Icon="business_center" Path="static-data/brokers"/>
                <RadzenPanelMenuItem Text="Datafeeds" Icon="business_center" Path="static-data/datafeeds"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="System status" Icon="host" Path="status" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents />


@code {
    bool sidebar1Expanded = true;    
}