@using UI.SharedComponents.Components.Accounts

@inject NavigationManager NavigationManager

@page "/accounts/create"
<h3>Create account</h3>
<PageTitle>Create strategy</PageTitle>

<RadzenCard>
    <CreateAccountForm OnCompleted=@OnCompleted />
</RadzenCard>

@code {
    private void OnCompleted()
    {
        NavigationManager.NavigateTo("strategies");
    }
}